@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: linear-gradient(to right, pink, cornsilk);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.h4 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.h1 {
  font-size: 54px;
  color: #fff;
  font-weight: bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
