.container {
  display: flex;
  justify-content: center;
  padding: 60px;
  gap: 30px;
}

.profile {
  width: 70%;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px;
}

.feed {
  width: 30%;
  border-radius: 20px;
  padding: 0 10px 0 10px;
}

.profilePicture {
  width: 20%;
}

.friendsContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.friendPicture {
  width: 20%;
}
